<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>PDF Patterns</title>
</head>
<body>
<%- include('./partials/nav.ejs') %>

<div class="patterns-list-container">
    <div class="patterns-list">

        <h1>Свої шаблони PDF :</h1>
        <a class="add-submit" href="/add-pdf-file">Додати свій шаблон</a>

        <ul>
            <% if (patterns.length) { %>
                <% patterns.forEach(({ id, name }) => { %>
                    <article>
                        <a href="/patterns/<%= id %>"><%= name %></a>
                        <div class="pattern-button">
<!--                            <form action="/add-favorites-pdf" method="post">-->
<!--                                <button class="favorites-submit">-->
<!--                                    <input type="hidden" class="fas fa-trash-alt" name="fileid" value="<%= id %>">Додати в обрані-->
<!--                                </button>-->
<!--                            </form>-->
                            <form action="/delete-pdf" method="post">
                                <button class="delete-submit">
                                    <input type="hidden" class="fas fa-trash-alt" name="fileid" value="<%= id %>">Видалити
                                </button>
                            </form>
                        </div>


                    </article>

                <% }) %>
            <% } %>
        </ul>
    </div>
</div>
<script src="/scripts.js"></script>

</body>
</html>