<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Pattern</title>
</head>
<body>
<%- include('./partials/nav.ejs') %>
<div class="pattern-container">
    <div class="pattern">
        <iframe src="/<%= pattern.filename %>#toolbar=0"></iframe>
        <div class="pattern-form">
            <form action="/add-favorites-pdf" method="post">
                <button class="favorites-submit">
                    <input type="hidden" class="fas fa-trash-alt" name="fileid" value="<%= pattern.id %>">Додати в обрані
                </button>
            </form>
            <h1>Назва PDF шаблону:<br> <%= pattern.name %> </h1>
            <div>
                <p>Значення, які потрібні заповнити в JSON файл:</p>
                <p><%= pattern.values %></p>
            </div>
            <form class="pattern-form-form" action="/create-pdf" method="post" enctype="multipart/form-data">
                <input type="hidden" value="<%= pattern.id %>" name="id" />
                <input type="hidden" value="<%= pattern.filename %>" name="namePDFFile" />
                <div class="upload-file__wrapper">
                    <input
                            type="file"
                            name="jsonFile"
                            id="upload-file__input_1"
                            class="upload-file__input"
                            accept=".json"
                            required
                    >
                    <label class="upload-file__label" for="upload-file__input_1" onclick="fileUpload()">
                        <span class="upload-file__text">Завантажити JSON файл</span>
                    </label>
                </div>
                <button class="form-submit" type='submit'>Створити PDF шаблон</button>
            </form>
        </div>
    </div>

</div>


<script src="/scripts.js"></script>

</body>
</html>